
@inject DoorFactory.Interfaces.ICustomUserManager UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoorFactory</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <!-- mdbootstrap -->
    <link href="~/lib/mdbootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/mdb.min.css" />
    <link href="~/lib/mdbootstrap/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/style.css" rel="stylesheet" />
    <!--Css files -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/OrderDoor.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body>
 
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>DoorFactory</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a id="Home" data-toggle="collapse" class="dropdown-toggle">Інформація про...</a>
                    <ul class="list-unstyled" id="homeSubmenu">
                        @if (UserManager.IsUserLoggedIn())
                        {
                            <li>
                                <a asp-controller="Home" asp-action="OrdersInfo">Замовлення</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="CustomersInfo">Клієнтів</a>
                            </li>
                        }
                        <li>
                            <a asp-controller="Home" asp-action="DoorsInfo">Товар</a>
                        </li>
                        <li>
                            <a href="#">Матеріали</a>
                        </li>

                    </ul>
                </li>
                @if (UserManager.IsUserLoggedIn())
                {
                    <li>
                        <a href="#">Працівники</a>
                    </li>
                    <li>
                        <a href="#">Доставка замовлень</a>
                    </li>
                }
                <li>
                    <a href="#">Статистика</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span id="menuSpan">Меню</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="nav navbar-nav mr-auto">
                            @if (!UserManager.IsUserLoggedIn())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="OrderDoor">Зробити замовлення</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" href="#">Інструкція при оформленні замовлення</a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav ml-auto">
                            @if (!UserManager.IsUserLoggedIn())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Про нас</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Контакти</a>
                                </li>
                                <li class="nav-item active">
                                    <a asp-controller="Account" asp-action="LogInPage" class="nav-link">Увійти</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Привіт, @UserManager.GetUserName()</a>
                                </li>
                                <li class="nav-item active">
                                    <a asp-controller="Account" asp-action="LogOut" class="nav-link">Вийти</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>

            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>
    </div>

<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/SelectsGenerating.js" asp-append-version="true"></script>
    <!-- mdbootstrap -->
    <script src="~/lib/mdbootstrap/js/jquery.min.js"></script>
    <script src="~/lib/mdbootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/lib/mdbootstrap/js/addons/datatables.min.js"></script>
    <script src="~/lib/mdbootstrap/js/popper.min.js"></script>

    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
