<div class="container">
    <h1 class="mb-3" style="color: #008b8b">Залиште інформацію про себе</h1>
    <div class="form-row justify-content-center rounded shadow mt-5" style="background-color: #F8F8F8;">
        <div class="row col-md-8 mb-1">
            <div class="form-group col-md-12">
                <label><strong>Введіть ім'я</strong></label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label><strong>Введіть прзівище</strong></label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label><strong>Введть адресу</strong></label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label><strong>Email</strong></label>
                <input type="email" class="form-control">
            </div>
            <div class="row  mb-5">
                <a class="approve ml-3 rounded col-md-1"><i class="far fa-check-circle"></i></a>
            </div>
        </div>
    </div>
</div>

   
