@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
<div class="form-row justify-content-center rounded shadow" style="background-color: #F8F8F8;">
    <div class="row col-md-8 mb-5">
        <a class="main-icon ml-1 rounded"><i class="fas fa-door-closed"></i></a>
    </div>
</div>
</div>