@model DoorFactory.ViewModels.DoorOrderViewModel

<div class="container">
    <form asp-controller="Home" asp-action="OrderDoor" method="post">
        <div class="form-row justify-content-center rounded shadow mt-5" style="background-color: #F8F8F8;">
            <div class="row col-md-12 mb-2">
                <div class="form-group col-md-4">
                    <label asp-for="Door.Height" class="font-weight-bold">Висота дверей</label>
                    <input asp-for="Door.Height" class="form-control">
                    <span asp-validation-for="Door.Height" class="text-danger "></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Door.Width"><strong>Ширина дверей</strong></label>
                    <input asp-for="Door.Width" class="form-control">
                    <span asp-validation-for="Door.Width" class="text-danger "></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Door.Thickness"><strong>Товщина дверей</strong></label>
                    <input asp-for="Door.Thickness" class="form-control">
                    <span asp-validation-for="Door.Thickness" class="text-danger "></span>
                </div>
            </div>
            <div class="row col-md-12 mb-2">
                <div class="form-group col-md-6">
                    <label asp-for="DoorCategories"><strong>Категорія дверей</strong></label>
                    <select asp-for="Door.DoorsCategoriesId" asp-items="Model.DoorCategories" class="form-control"></select>
                    <span asp-validation-for="Door.DoorsCategoriesId" class="text-danger "></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Door.ColorId"><strong>Колір</strong></label>
                    <select asp-for="Door.ColorId" asp-items="Model.Colors" class="form-control"></select>
                    <span asp-validation-for="Door.ColorId" class="text-danger "></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="OpeningStyles"><strong>Тип відкриття</strong></label>
                    <select asp-for="Door.OpeningStylesId" asp-items="Model.OpeningStyles" class="form-control"></select>
                    <span asp-validation-for="Door.OpeningStylesId" class="text-danger "></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="StyleTypes"><strong>Стиль</strong></label>
                    <select asp-for="Door.StyleTypesId" asp-items="Model.StyleTypes" class="form-control"></select>
                    <span asp-validation-for="Door.StyleTypesId" class="text-danger "></span>
                </div>
            </div>
            <div class="row col-md-12 mb-2">
                <div class="form-group col-md-6">
                    <label asp-for="BaseMaterialCategoryID"><strong>Виберіть тип матеріалу</strong></label>
                    <select class="form-control" asp-for="BaseMaterialCategoryID" asp-items="Model.MaterialCategories" onchange="GetBaseMaterials()"></select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BaseMaterialID"><strong>Виберіть матеріал</strong></label>
                    <select asp-for="BaseMaterialID" asp-items="Model.BaseMaterials" class="form-control" ></select>
                </div>
            </div>
            <div class="row col-md-12 mb-2">
                <div class="form-group col-md-6">
                    <label asp-for="LockCategoryID"><strong>Виберіть тип замка</strong></label>
                    <select asp-for="LockCategoryID" asp-items="Model.LockCategories" class="form-control" onchange="GetLocks()"></select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LockID"><strong>Виберіть замок</strong></label>
                    <select asp-for="LockID" asp-items="Model.Locks" class="form-control"></select>
                </div>
            </div>
            <div class="row col-md-12 mb-2">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlTextarea1"><strong>Можливо у вас є деякі побажання?</strong></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>
                </div>
            </div>
        </div>

        <div class="row mt-3 mb-5">
            <div class="row col-md-6">
                <a class="icon-btn ml-1 rounded col-md-2" data-toggle="tooltip" data-placement="bottom" title="Додати в корзину">
                    <i class="fas fa-cart-plus"></i>
                </a>
                <a class="icon-btn ml-1 rounded col-md-2 ml-3" data-toggle="tooltip" data-placement="bottom" title="Спроектувати двері">
                    <i class="fas fa-plus"></i>
                </a>
                <a asp-controller="Home" asp-action="CustomerForm" class="icon-btn ml-1 rounded col-md-2 ml-3" data-toggle="tooltip" data-placement="bottom" title="Оформити замовлення">
                    <i class="fas fa-file-contract"></i>
                </a>
            </div>
            <div class="row col-md-6 justify-content-end">
                <a class="icon-btn ml-1 rounded col-md-2 pl-5" data-toggle="tooltip" data-placement="bottom" title="Корзина">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <div class="mt-5 mr-1 ml-1">
                    <span class="badge badge-danger">0</span>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <button type="submit" class="ml-1 btn btn-primary">Submit</button>
        </div>
        
        <div class="row mt-3 mb-5">
            <div id="test">
                Hello, Roman!!!
            </div>
        </div>

    </form>
</div>